<a href="https://colab.research.google.com/github/I-del-scribblied/Python-DSA/blob/main/functions_in_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Getting started with functions
#A functions is a block of code that performs a specificc task.functions help in organizing code, resuing code,and improving readability.

In [ ]:
## Synatx
def function_name(parameters):
  """Docstring"""
  # Fucntion body
  return expression

In [ ]:
##Why functions?
num=24
if num%2==0:
  print("the num is even")
else:
  print("the num is odd")

the num is even

In [ ]:
def even_or_odd(num):
  """This function finds even or odd"""
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")

In [ ]:
## call this function
even_or_odd(26)

The number is even

In [ ]:
## Function with multiple parameters
def add(a,b):
  return a+b
result=add(2,4)
print(result)

6

In [ ]:
## Default parameters.
def greet(name):
  print(f"Hello {name} Welcome to the paradise")

greet("badboy")

Hello badboy Welcome to the paradise

In [ ]:
def greet(name='badboy'):
  print(f"Hello {name} Welcome to the paradise")

greet("Shaktiman ")

Hello Shaktiman  Welcome to the paradise

In [ ]:
## variable length arguments
## positional and keywords arguments.

def print_num(*badboy):
  for numbers in badboy:
    print(numbers)

In [ ]:

print_num(1,2,3,4,5,6,"badboy")

1
2
3
4
5
6
badboy

In [ ]:
#Positional arguments
def print_num(*args):
  for numbers in args:
    print(numbers)
print_num(1,2,3,4,5,6,"args")

1
2
3
4
5
6
args

In [ ]:
## KeyWords arguments
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [ ]:
print_details(name="badboy",age="32",country="nepal")

name:badboy
age:32
country:nepal

In [ ]:
### MORE CODING EXAMPLE WITH FUNCTIONS

In [ ]:
#EX-1 Temperature coneversion

def convert_temp(temp,unit):
  """this function converts temperature betweem C to  F"""
  if unit=="C":
    return temp *9/5 + 32  ##Cpnverting celsius to F

  elif unit=="F":
    return(temp-32)*5/9 ## Fahrenheit  to celsius
  else:
    print("Please enter temeprature")

convert_temp(36,"C")

96.8

In [60]:
#EX-2 Password strength checker:.
def is_strong_password(password):
  """this fun is checks if the password is strong or not"""
  if len(password)<8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char in '!@#$%^&*()_+' for char in password):
    return False
  return True

In [61]:
print(is_strong_password("Str0nh8!"))

True

In [75]:
#EX-3 Caluclte  the total cost of items in a shopping cart
def calculate_total_cost(cart):
  total_cost=0
  for item in cart:
    total_cost+= item['price']*item['quantity']

  return total_cost
  ## Example cart data

cart=[
      {'name':'apple','price':0.5,'quantity':4},
      {'name':'banana','price':0.3,'quantity':6},
      {'name':'Orange','price':0.7,'quantity':3}

  ]

## Calling the functions
total_cost=calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [77]:
#EX-4 Check IF a sting is Palindrome
def is_palindrome(s):
  s=s.lower().replace(" ","")
  return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

In [79]:
#EX-5 calculate the factorial  of number using recursion
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(4))

24

In [81]:
#EX-6 A function to read A file and count the frequency of each word
def count_word_frequeny(file_path):
  word_count={}
  with open(file_path,'r') as file:
    for line in file:
      words=line.split()
      for words in word:
        word=word.lower().strip()('.,!?;:"\'')
        word_count[word]-word_count.get(word,0)+1

  return word_count

  file_path='sample.txt'
  word_frequency=count_word_frequeny(filepath)
  print(word__frequency)

In [85]:
##EX-7 Valiate Email Address
import re
def is_valid_email(email):
  pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
  return re.match(pattern,email) is not None

## Calling the function
print(is_valid_email("test@exmaple.com")) ## op:True
print(is_valid_email("invalid-email")) ##op:False

True
False

In [ ]:
### PYTHON LAMBDA FUNCTION.
"""Lambda function are small anonymous functions defined using lamdba keyword.They can have any number of arguments but only one expression.
they are commmonly used for short operations or as arguments to higher-order functions"""

In [ ]:
##Syntax
lambda arguments:expression

In [ ]:
def addition(a,b):
  return a+b

In [86]:
addition=lambda a,b:a+b
print(addition(5,7))

12

In [87]:
even=lambda num:num%2==0
even(12)

True

In [88]:
addition=lambda a,b,c:a+b+c
print(addition(1,2,3))

6

In [ ]:
### MAP FUNCTIONS
"""The map()function applies a given function to all items in an input list(or any other iterable)
and returns a map object(an iterator).This is particularly useful for transforming data in a list comphrehensively.

In [97]:
def square(x):
  return x*x

square(10)

100

In [96]:
numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [98]:
## Lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [101]:
## Map Multiple iterable

num1=[1,2,3]
num2=[4,5,6]
add_num= list(map(lambda x,y:x+y,num1,num2))
print(add_num)

[5, 7, 9]

In [102]:
## map() to convert a list of string to integers
#use map to convert strings to integrs
str_num=['1','2','3','5']
int_num=list(map(int,str_num))
print(int_num)

[1, 2, 3, 5]

In [104]:
words=['apple','banana','cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
## FILTER FUNCTIONS IN PYTHON.
"""The filter function() construct an iterator from elements of an iterable for which
a function returns true.it is used to filter out items from a list based on a condition."""

In [106]:
def even(n):
  if n%2==0:
    return True

In [107]:
lst=[1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [ ]:
## FILTER WITH  LAMBDA FUNCTIONS

In [108]:
num=[1,2,3,4,5,6,7,8,9]
greater_then_five=list(filter(lambda x:x>5,num))
print(greater_then_five)

[6, 7, 8, 9]

In [109]:
## FIlter with lambda function and multiple conditions
num=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,num))
print(even_and_greater_than_five)

[6, 8]

In [110]:
##  Filter() to check if the  age is greater than 25 in dictiornies
people=[
    {'name':"badboy",'age':34},
    {'name':'Danieal','age':36},
     {'name':'Supra','age':46}
]

def age_greater_than_25(person):
  return person['age']>25

list(filter(age_greater_than_25,people))

[{'name': 'badboy', 'age': 34},
 {'name': 'Danieal', 'age': 36},
 {'name': 'Supra', 'age': 46}]