<a href="https://colab.research.google.com/github/I-del-scribblied/Python-DSA/blob/main/python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python basic syntax rules in python
## Case sensitivity -Python is Case Sensitivity

name = 'Rohit'
Name = 'Sharma'

In [ ]:
##Indentation
age = 32
if age>30:
  print(age)

32

In [ ]:
## Understanding semnatics
#Variable assignment
age=32#age is integr
name = 'Rohit Sharma'#name is string

In [ ]:
## TYPE INFERENCE
Variable = 10
print(type(Variable))
Variable = 'Rohit Sharma'
print(type(Variable))

<class 'int'>
<class 'str'>

In [ ]:
age = 32
if age>30:
  print(age)

32

In [ ]:
## VARIABLES

In [ ]:

## Decalring and assigning variables

age = 31
height = 5.6
name ='Rohit'
is_stud = False

## printing variables

print('age :', age)
print('height:',height)
print('name:',name)

age : 31
height: 5.6
name: Rohit

In [ ]:
#Naming conventions
#Variable name should be descriptive
## They must start with a letter or an '_' and conatains letter,number, and underscores
## Variables names case sensitive

# valid variable name
first_name = 'Rohit'
last_name = 'Sharma'

#Invalid variables name
  #2age = 30
  #first-name='Rohit'
  #@name='rohit'

SyntaxError: invalid decimal literal (ipython-input-908197244.py, line 11)

In [ ]:
# UNDERSTANDING VARIABLES TYPES
## Python is dynamically typed, type of a variable is determined at runtime

age = 32 #int
height = 5.6 #float
name ='rohit' #str
is_stud= False #bool

print(type(name))

<class 'str'>

In [ ]:
# TYPE Checking and conversion
type(height)

#type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

32
<class 'str'>

In [ ]:
print(type(height))

height_int= int(height)
print(height_int)
print(type(height_int))

<class 'float'>
5
<class 'int'>

In [ ]:
## Input
age = int(input("what is your age:"))
age

what is your age:32

32

In [ ]:
## SIMPLE CALCULATOR
num1 = float(input("enter any number1:"))
num2 = float(input("enter any number2:"))

sum= num1 + num2
difference = num2 - num2
multiply = num1 * num2
divison = num1/num2

print('sum is :',sum)
print('difference is :',difference)
print('multiply is :',multiply)
print('divison is :',divison)

enter any number1:10
enter any number2:20
sum is : 30.0
difference is : 0.0
multiply is : 200.0
divison is : 0.5

In [ ]:
  ## DATATYPES

In [ ]:
# INTEGERS Example
agev=32
type(age)

int

In [ ]:
#flaoting point datatype
height = 6.0
print(height)
print(type(height))

6.0
<class 'float'>

In [ ]:
## string datatype
name = 'rohit sharma'
print(name)
print(type(name))

rohit sharma
<class 'str'>

In [ ]:
## boolean datatype

is_true = True
print(type(is_true))

<class 'bool'>

In [ ]:
## Common errors

result = 'hello' + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = 'hello' + str(5)
result

'hello5'

In [ ]:
## OPERATORS IN PYTHON

In [ ]:

## arihmethic operator

a = 10
b = 3
add_result = a+b
sub_result = a-b
mult_result = a*b
diff = a*b
divison= a/b
fl_divison = a//b
mod_result = a%b
expo = a**b

print(add_result)
print(sub_result)
print(mult_result)
print(diff)
print(divison)
print(fl_divison)
print(mod_result)
print(expo)

13
7
30
30
3.3333333333333335
3
1
1000

In [ ]:
## Commparison operator
## == equal too
a = 10
b = 1
a==b

False

In [ ]:
## NOT EQUAL too !=
a!= b

True

In [ ]:
# greater than >
a=45
b=55
a<b

True

In [ ]:
## Less than <
a = 34
b = 50
a<b

True

In [ ]:
## greater than or equal to
num1 = 45
num2 = 45

num1>=num2

True

In [ ]:
## less than or eqaul to
num1<num2

False

In [ ]:
# LOGICAL OPERATOR
### AND, NOT, OR
#AND
x= True
y = True
result = x and y
print(result)

False

In [ ]:
## OR
X= False
Y= False
result = X or Y
print(result)

False

In [ ]:
#### NOT
C= False
not C

True

In [ ]:
### CONDITIONAL STATEMENT (if,else,if else)

In [ ]:
##if Statement

age = 20
if age>=18:
  print("you are allowed to vote in election")

you are allowed to vote in election

In [ ]:
## ElSE
# else statement execute a block of code if the condition in the  if  statement is False.

age = 16
if age>=18:
  print("allowed for voting")
else :
  print("you are minor ")

you are minor

In [ ]:
## elif
##THE elif statement allows you too check multiple conditions. it stands for "else if"

age = 20
if age<13:
  print("YOu are a child")
elif age<18:
  print("you are a teenager")
else:
  print("you are an adult")

you are an adult

In [ ]:
## NESTED Condititonal statements
# number even, odd, negative

num = int(input("enter a number"))
if num>0:
  print("the number is positive")
  if num%2==0:
    print("The number is even")
  else:
    print("the number is odd")

else:
  print("the number is negative")

enter a number13
the number is positive
the number is odd

In [ ]:
## PRACTICAL EXAMPLE

In [ ]:
# Determine if a year is a leap year using nested condition statement

year= int(input("enter a year"))

if year%4==0:
  if year%100==0:
    if year%400==0:
      print(year,"is a leap year")
    else:
      print(year,'is not a leap year')
  else:
      print(year,'is a leap year')
else:
  print(year,'is not a leap year')

enter a year2020
2020 is a leap year

In [ ]:
## Assignment
## Simple calculator program
num1 = int(input("enter a number:"))
num2 = int(input("enter a number "))
operation = input("Enter a operator (+,-,*,/):")

if operation == '+':
  result = num1+num2
elif operation == '-':
  result = num2 - num1
elif operation == '*':
  result = num1 * num2
elif operation == '/':
  if num2 != 0:
    result = num1 / num2
  else:
    result = "Error! Divison by Zero."

else:
  result = "Invalid operation."

print("Result:", result )

enter a number:10
enter a number 5
Enter a operator (+,-,*,/):-
Result: -5

In [ ]:
### LOOPS in PYTHON

In [ ]:
# for loop
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [ ]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
## STR

str = "Rohit sharma"
for i in str:
  print(i)

R
o
h
i
t

s
h
a
r
m
a

In [ ]:
#WHILE LOOP
## WHILE LOOP CONTINUES TO EXECUTE AS LONG AS THE CONDITION IS TRUE

count = 0

while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [ ]:
count= 0
while count%2==0:
  print(count)
  count=count+1

0

In [ ]:
## LOOP CONTROLS STATEMENTS

## break
## the break exists the loop prematurely

##break statement

for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
## Continue

## the continue statement skips the current iteration and continues with  next

for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
## PASS
## THE PASS STATEMENT IS A NULL OPERATION IT DOES NOTHING.

for i in range(5):
  if i==3:
    print("the number is ",i)
    pass
  print(i)

0
1
2
the number is  3
3
4

In [ ]:
## Nested loops
## a loop inside a loop
for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
## Examples- Calculate the sum of first N natural number using a while and for loop

##While loop
n =10
sum=0
count=1
while count<=n:
  sum=sum+count
  count=count+1

print("sum of first N natural number:",sum)

sum of first N natural number: 55

In [ ]:
## for loop
n =10
sum=0
for i in range(11):
  sum=sum+i
print(sum)

55

In [ ]:
## Examples - Prime numbers berween 1 and 100

for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#### INBUILT Data Structures IN PYthon##

In [ ]:
######## LIST AND Comprehrension In python ####
## list are odered , mutable collection of item and they contain items of different data types.

In [ ]:
lst=[]
print(type(lst))

<class 'list'>

In [ ]:
#mixed list
names=["krish","bad","jacob",1,2,34,5.6,True]
print(names)

['krish', 'bad', 'jacob', 1, 2, 34, 5.6, True]

In [ ]:
## Accessing list example

fruit = ['banana','cherry','mango','grapes','gauva','kiwi']

gauva

In [ ]:
print(fruit[-3])
print(fruit[3])

grapes
grapes

In [ ]:
print(fruit[1:])
print(fruit[:])
print(fruit[4:-1])

['l', 'i', 't', 'c', 'h', 'i']
['Litchi', 'l', 'i', 't', 'c', 'h', 'i']
['c', 'h']

In [ ]:
## modifying list element
fruit[0] = 'Litchi'
print(fruit)

['Litchi', 'l', 'i', 't', 'c', 'h', 'i']

In [ ]:
fruits =  ['banana','cherry','mango','grapes','gauva','kiwi']

In [ ]:
#lst methods

fruits.append("orange")
print(fruits)

['banana', 'cherry', 'mango', 'grapes', 'gauva', 'kiwi', 'orange']

In [ ]:
fruits.insert(0,"watermelon")
print(fruits)

['watermelon', 'banana', 'cherry', 'mango', 'grapes', 'gauva', 'kiwi', 'orange']

In [ ]:
## remove and return the last
pop_fruits=fruits.pop()
print(pop_fruits)
print(fruits)

kiwi
['watermelon', 'banana', 'cherry', 'mango', 'grapes', 'gauva']

In [ ]:
indexes=fruits.index("cherry")
print(indexes)

2

In [ ]:
fruits.insert(2,"banana")
print(fruits.count("banana"))
print(fruits)

2
['watermelon', 'banana', 'banana', 'cherry', 'mango', 'grapes', 'gauva']

In [ ]:
fruits.sort() ## Sort the list in ascending order
print(fruits)

['banana', 'banana', 'cherry', 'gauva', 'grapes', 'mango', 'watermelon']

In [ ]:
fruits.reverse() ## reverse the list
print(fruits)

['watermelon', 'mango', 'grapes', 'gauva', 'cherry', 'banana', 'banana']

In [ ]:
fruits.clear() ## remove all the item from the list
print(fruits)

[]

In [ ]:
### SLICING LIST
num = [1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2]) ## skip 2nd number / 2 step size
print(num[::-1]) ## reverse

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
## Iterating Over list

for number in num:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## Iterate with index
for index,number in enumerate(num):
  print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
## List Comprehension
lst = []
for x in range(10):
  lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## List Comprehension  basic syntax

 ## basic syantax [Expression for item in iterable]

 ## with conditional logic [Expression for item in iterable if condition]

 ## NESTED LIST COMPREHENSION  [Expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
### BASIC LIST COMPREHENSION

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## list comprehension with condition
even = [i for i in range(10) if i%2==0 ]
print(even)

[0, 2, 4, 6, 8]

In [ ]:
## Nested list comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair=[[i,j]for i in lst1 for j in lst2 ]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [ ]:
## List comprehesion with function calls

words = ["hello","world","python","list","comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [ ]:
######## SETS#########

In [ ]:
### Creating a set  ##

my_set =  {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set = set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
## Basics set operation
## adding and removing elements
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [ ]:
## removing the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [ ]:
my_set.discard(8)
print(my_set)

{1, 2, 4, 5, 7}

In [ ]:
## pop method

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [ ]:
## claer all element
my_set.clear()
print(my_set)

set()

In [ ]:
## SET membership test
my_set= {1,2,3,4,5}
print(3 in my_set)
print(2 not in my_set)

True
False

In [ ]:
## Mathmeatical operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## UNIon
union_set =set1.union(set2)
print(union_set)

## Interseection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## difference
print(set1.difference(set2))

##

{1, 2, 3}

In [ ]:
## Symmetric difference

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Sets Methods

set1 = {1,2,3,4}
set2 = {3,4,5}

##is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [ ]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [ ]:
## Counting unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'we', 'are', 'discussing', 'In', 'tutorial', 'sets', 'this'}
8

In [ ]:
#### DICTIONARY ####
## dictionaryes are unordered collections of items.They store data in key-value pairs.Keys must be unique and immutable
##(eg.strings,numbers,pr tuples),while values can be of any type #

In [ ]:
## Creating a dictionaries Empty
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [ ]:
student={"name":"Tarzan","age":34,"grade":27}
print(student)

{'name': 'Tarzan', 'age': 34, 'grade': 27}

In [ ]:
#accessing dictionary elements.
student={"name":"Tarzan","age":34,"grade":"C"}
print(student['grade'])
print(student['age'])
print(student['name'])

## Accessinf using get()method
print(student.get('age'))
print(student.get('last_name',"Not available"))

C
34
Tarzan
34
Not available

In [ ]:
## Modifying dictionary elements
## Dicitionary are mutable,so you can add,update or delete elements
print(student)

{'name': 'Tarzan', 'age': 34, 'grade': 'C'}

In [ ]:
student['age']=33 ##updated the value for the key
print(student)
student['address']='India' ## added a new key and value
print(student)

{'name': 'Tarzan', 'age': 33, 'grade': 'C'}
{'name': 'Tarzan', 'age': 33, 'grade': 'C', 'address': 'India'}

In [ ]:
del student['grade'] ## delete key and value pair
print(student)

{'name': 'Tarzan', 'age': 33, 'address': 'India'}

In [ ]:
## Dicitonary methods

keys=student.keys() ## get all keys
print(keys)
values=student.values() ## get all values
print(values)

items=student.items() ## all key value pair
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Tarzan', 33, 'India'])
dict_items([('name', 'Tarzan'), ('age', 33), ('address', 'India')])

In [ ]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Tarzan', 'age': 33, 'address': 'India'}
{'name': 'Tarzan', 'age': 33, 'address': 'India'}

In [ ]:
student['name']='krish2'
print(student)
print(student_copy)

{'name': 'krish2', 'age': 33, 'address': 'India'}
{'name': 'krish2', 'age': 33, 'address': 'India'}

In [ ]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'krish2', 'age': 33, 'address': 'India'}
{'name': 'krish2', 'age': 33, 'address': 'India'}

In [ ]:
student['name']='krish3'
print(student)
print(student_copy1)

{'name': 'krish3', 'age': 33, 'address': 'India'}
{'name': 'krish2', 'age': 33, 'address': 'India'}

In [ ]:
## Iterating over dicitonaries
## You can use loops to iterate over dictionaries,keys,values,or items

## Iterating over keys
for keys in student.keys():
  print(keys)

name
age
address

In [ ]:
## Iterate over values
for values in student.values():
  print(values)

krish3
33
India

In [ ]:
## iterate over key-value pair
for key,value in student.items():
  print(f"{key}:{value}")

name:krish3
age:33
address:India

In [ ]:
## Nested dictionray

students={
    "student1":{"name":"krish","age":32},
    "student2":{"name":"Jacob","age":36}
    }
print(students)

{'student1': {'name': 'krish', 'age': 32}, 'student2': {'name': 'Jacob', 'age': 36}}

In [ ]:
## Access nested dictionaries elements
print(students["student2"]["name"])

Jacob

In [ ]:
## Iterating over nested dictionaries

for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'krish', 'age': 32}
name:krish
age:32
student2:{'name': 'Jacob', 'age': 36}
name:Jacob
age:36

In [ ]:
## Dictionary comphrehension

squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
## conditional dict compherehension
even= {x:x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
##Practical examples
## USE a dict to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
  if number in frequency:
    frequency[number]+=1
  else:
    frequency[number]=1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
## MERGER 2 dict into one

dict1={"a":1,"b":2}
dict2={"c":3,"D":4}

merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'D': 4}

In [ ]:
### TUPELS ###############
## Tuples are odered collection of items that are immutable.

# # Creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Accessing tuple elements
numbers[0]

1

In [ ]:
### REAL USECASE OF LIST###

In [ ]:
# EX-1  Manage a TO do list

to_do_lst=['buy Gold','cleaning','pay bills']

## adding to task
to_do_lst.append("Schedule meeting")
to_do_lst.append("go for a run")

## Removing a completed task
to_do_lst.remove('cleaning')

## check if a task is in the list

if 'pay bills'  in to_do_lst:
  print("dont forget to pay the bills")


print("TO do lst remaining :-")
for task in to_do_lst:
  print(f"{task}")

dont forget to pay the bills
TO do lst remaining :-
buy Gold
pay bills
Schedule meeting
go for a run

In [3]:
## EX 2 Organing the student grade
grades=[85,92,78,90,88]

## adding new grade
grades.append(95)

##Calculating the avarage grade
average_grade= sum(grades)/ len(grades)
print(f"Average Grade:{average_grade:.2f}")

## finding the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest_grade: {highest_grade}")
print(f"lowest_grade: {lowest_grade}")

Average Grade:88.00
Highest_grade: 95
lowest_grade: 78

In [12]:
#EX-3 Managing an inventory
inventory = ["apples","bananas","oranges","grapes"]

#adding a new item
inventory.append("strawberries")

# Removing a item that is out of stock
inventory.remove("bananas")

# checking if an item is in stock
item = "oranges"
if item in inventory:
  print(f"{item} are in stock.")
else:
  print(f"{item} are out of stock.")

  ## printing the inventory
print("Inventory list:")
for item in inventory:
 print(f" - {item}")

Inventory list:
 - apples
 - oranges
 - grapes
 - strawberries

In [13]:
## EX-4 Collecting user feedback
feedback =['great service!','very satisfied','could be  better','excellent experience']

# adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if 'great' in comment.lower() or 'excellent'in comment.lower())
print(f"Positive feedback count:{positive_feedback_count}")

# Printing all feedback
print("User feedback:")
for comment in feedback:
  print(f"-{comment}")

Positive feedback count:2
User feedback:
-great service!
-very satisfied
-could be  better
-excellent experience
-Not happy with the service